certifi==2021.5.30
pyaes==1.6.1
pyHook @ file:///D:/Code/python/StopWindowsSleep/whl/pyHook-1.5.1-cp36-cp36m-win_amd64.whl
pykeyboard==0.1.2
PyMouse==1.0
Pyrogram==1.3.0
PySocks==1.7.1
PyUserInput==0.1.11
pywin32==303
TgCrypto==1.2.2
wincertstore==0.2
